
.container{
    background-color: white;
    margin: auto;
    position: relative;
    border: 2px solid red;
    height: 40vw;
    width: 40vw;
    background: url("analog.png") no-repeat;
    background-position: center;
    background-size: 80%;
    box-shadow: 11px 6px 20px 19px red;
}
#hour,#min,#sec{
    position: absolute;
    background: yellowgreen;
    transform-origin: bottom;
}
#sec{
    height: 22%;
    width: 1%;
    left: 50%;
    top: 27.5%;
    opacity: 0.8;
    background-color: red;
}  
 #min{
    height: 24%;
    width: 1%;
    left: 50%;
    top: 25.5%;
    opacity: 0.8;
} 
#hour{
    height: 18%;
    width: 1%;
    left: 49.6%;
    top: 31.5%;
    opacity: 0.7;
}  
